env
node_modules
.env
migrations
__pycache__
__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
__init__.py
media

package-lock.json
package.json
core/__pycache__
core/migrations
core/media
core/static
core/templates
core/uploads

